form {
	background-color: lightgray;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 1200px;
}
.titleInputs {
	width: 400px;
	height: 35px;
	margin: 10px;
	font-size: 25px;
}
.basicInfo {
	display: grid;
	grid-template-columns: 200px 200px 200px;
	grid-gap: 10px;
	margin: 10px;
}
.inputs {
	width: 200px;
}
.ingredients {
	display: flex;
	margin: 20px;
}
.ingredientInput {
	height: 18px;
	width: 200px;
}
.amountInput {
	height: 20px;
	width: 30px;
}
.malts {
	border: 2px solid black;
}
.addedMalt {
	display: flex;
	flex-direction: column;
}
.hops {
	border: 2px solid black;
	margin: 0 20px;
}
.yeast {
	border: 2px solid black;
}
.yeast input {
	margin: 5px;
}
h3 {
	margin: 10px;
}
.ingredientForm {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
	margin-right: 5px;
}
.ingredientForm h4 {
	margin: 0 10px;
}
.ingredientForm select {
	margin: 0 10px;
}
.addIngredient {

}
.extras {
	display: flex;
}
.contributed {
	width: 200px;
	margin: 10px;
}
.textarea {
	width: 300px;
	height: 200px;
	margin: 20px;
}
.button {
	width: 200px;
	height: 50px;
	font-size: 18px;
}

