.openScreen {
	width: 100vw;
	height: 90vh;
	background-color: lightgray;
}
header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.quote {
	width: 90vw;
	line-height: 90px;
	text-align: center;
	font-size: 80px;
	font-family: 'Italianno';
	animation-name: fadeIn;
	animation-duration: 5s;
}
.TJ {
	margin: 0;
	animation-name: fadeIn;
	animation-duration: 6s;
}
@keyframes fadeIn {
	0% {color: lightgray;}
	100% {color: black;}
}

