nav {
  background-color: black;
  height: 10vh;
  display: flex;
  align-items: center;
}
.home {
  text-decoration: none;
  display: flex;
}
.recipes {
	text-decoration: none;	
}
.add {
  text-decoration: none;
}
h2 {
  text-decoration: none;
  color: white;
  margin: 0;
  margin-left: 30px;
}
