nav {
  background-color: black;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home {
  text-decoration: none;
  display: flex;
}
.recipes {
	text-decoration: none;	
}
.add {
  text-decoration: none;
}
h2 {
  text-decoration: none;
  color: white;
  margin: 0 50px;
}
